* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.hero-image {
    background-image: url(./Images/backgroundimg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.text-box {
   grid-column: 2;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   text-align: left;
   padding: 0;
   color: rgb(10, 0, 0);
   gap: 100px;
}
.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.intro-text {
    color: rgb(10, 0, 0);
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    margin-bottom: 0;
}

.short-text {
    color: #FFB056;
    font-size: 30px;
    width: 640px;
    position: relative;
    margin-right: 40px;
}

.hero-text {
    color: rgb(10, 0, 0);
    font-size: 50px;
    width: 640px;
    position: relative;
    margin-right: 40px;
}
.platform-text {
    color: rgb(10, 0, 0);
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;

}
.hero-subtext {
    color: rgb(10, 0, 0);
    font-size: 30px;
    font-style: italic;
    line-height: 1.6;
    width: 50%;
    float: right;
}
.intro-image {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.footer-bar {
    background-color: #d3c4c2de;
    color: rgba(0, 0, 0, 0.742);
    padding: 30px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.footer-bar button {
    background: none;
    border: none;
    color: rgb(19, 1, 1);
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-bar button img {
    width: 50px;
    height: 50px;
}
.footer-bar button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}
.second-section {
    background-image: url(./Images/secondbackdesign.png);
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    text-align: left;
    min-height: 100vh;
    padding: 50px 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.second-text-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}
.food-image {
    width: 700px;
    height: auto;
    position: relative;
    margin-top: 100px;
    border-radius: 20px;
}
.food-image-container {
    position: relative;
    width: 500px;
    height: auto;
    padding-top: 120px;
    padding-left: 45px;
}
.food-title-block {
    position: absolute;
    top: 0px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
}
.second-text-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}
.food-title {
    font-size: 45px;
    font-family: Judson;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.food-title-sub {
    font-size: 16px;
    font-family: Julius Sans One;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 8px;

}
.food-info  {
    margin-top: 120px;
    margin-left: 60px;
    
}
.food-subtitle {
    font-size: 35px;
    text-align: center;
    margin: 0;
    font-family: Judson;
    text-transform: uppercase;
    padding: 5px 5px;
    border-radius: 8px;
    
}
@font-face {
    font-family: Julius Sans One;
    src: url(./JuliusSansOne-Regular.ttf);
}
.food-description {
    text-align: center;
    font-size: 20px;
    margin-top: 70px;
    text-transform: uppercase;
    font-family: Julius Sans One;
}
.food-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 115px;
}
.food-button {
    background-color: #FE7C02;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.food-button:hover {
    background-color: #e6a04d;
}
.footer-bar-two {
    background-color: #d3c4c2de;
    color: rgba(0, 0, 0, 0.742);
    padding: 40px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff0ee;
}
.food-title-block h2 {
    font-size: 40px;
    font-family: Judson;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.image-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 1145px;
    margin: auto;
    margin-top: 10px;
}
.image-description {
    font-size: 35px;
    margin-top: 8px;
    text-align: center;
    font-family: Judson;
    text-transform: uppercase;
}
.third-text-box .search-container {
   float: right;
}
.third-text-box .search-container input[type="text"] {
    padding: 10px;
    margin-top: 8px;
    font-size: 16px;
    border: none;
}
.third-text-box .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.third-text-box .search-container button {
    background-color: #FE7C02;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.third-text-box .search-container button:hover {
    background-color: #e6a04d;
}
.third-text-box .search-container button:hover {
    background-color: #e6a04d;
    
}
body {
    font-family: 'Julius Sans One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    justify-content: center;
    
}
.search-wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    background-position: center;
    background-color: #fff0ee;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    margin-top: -200px;
}
.search-bar {
    width: 100%;
    max-width: 600px;
    display: flex;
   background: #ccc;
   align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-button-img img {
    width: 40px;
    height: 40px;
}
.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    font-size: 20px;
    border-radius: 60px;
    background: transparent;
}
.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: background-color 0.3s ease;
}
.form{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.form input, .form textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #FE7C02;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button {
    font-family: 'Julius Sans One', sans-serif;
}